<div id="<%= dom_id reservation_week %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Note:</strong>
    <%= reservation_week.note %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Res date:</strong>
    <%= reservation_week.res_date %>
  </div>
</div>
